<!DOCTYPE html>
<html>
<head>
  <title>Super-Hero Flix</title>
  ...
</head>
<body>

<%= render "layouts/header" %>

<%= render "layouts/sidebar" %>

<%= yield %>

<%= render "layouts/footer" %>

</body>
</html>
